{% extends "base.html" %}

{% block contenido %}

<div class="alert-info">
    <h1 class="ml-1">Archivo</h1>
</div>

    <dl>
    {% for article in dates %}
        <div class="ml-2 mb-4">
            <dt>{{ article.locale_date }}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            <hr class="alert-danger">
        </div>
        {% endfor %}
    
    </dl>

{% endblock contenido %}