{% for article in articles_page.object_list %}
<div class="card mb-3">

    <footer>
        <p>
            <time>{{ article.locale_date }}</time>
            {% if article.category %}
                {% if article.category != "misc" %}
                    - categoria: <a href="{{ SITEURL }}/{{ article.category.url }}"><span class="category-tag">{{ article.category }}</span></a>
                {% endif %}
            {% endif %}
        </p>
    </footer>

    <div class="row no-gutters">
      <div class="col-md-2">
        {% if  article.imagen %}
          <img src="{{ article.imagen }}" alt="{{ article.category }}" class="m-2" width="200px" loading="lazy">
        {% else %}
          <img src="{{ SITEURL }}/theme/images/sin-imagen.png" alt="{{ article.category }}" width="200px" loading="lazy">
        {% endif %}
      </div>
      <div class="col-md-10 alert-primary p-1">
        <div class="card-body">
          <h2 class="card-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
          <p class="card-text p-1">{{ article.summary }}</p>
          <p class="card-text"><small class="text-muted"><a href="{{ SITEURL }}/{{ article.url }}"><h5 align="center" class="btn btn-outline-light btn-block m-3">Leer más...</h5></a></small></p>
        </div>
        <div>
        <span style="font-size: 18px; font-wight:bold">Etiquetas: </span>
        {% if article.tags  %}    
            {% for tag in article.tags %}
               <a href="{{ SITEURL }}/{{ tag.url }}" class="btn btn-danger">{{ tag.name }}</a>
            {% endfor %}
        {% else %}
              <i> Sin Etiquetas :( </i>
        {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endfor %}


  {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
{% endif %}