{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}"/>
  {% endfor %}

{% endblock %}



{% block contenido %}
<div class="alert-warning p-2 text-center">
  <a href="{{ SITEURL }}/posts/{{ article.date|strftime('%Y')}}"> Ver más publicaciones del año {{ article.date|strftime('%Y')}}</a>
</div>
  <div class="article animate__animated animate__slideInUp">
    <article>
      {% if article.date %}
        <footer>
            <a name="top"></a>
            <p>
              <time>{{ article.locale_date|title }}</time>
            </p>
        </footer>
      {% endif %}
        <header>
          <h2>
            {{ article.title }}
          </h2>
        </header>
      <div class="content">
         {{ article.content|safe }}
      </div>
      <div class="back-to-top alert-primary">
        <h5 align="center" class="p-2" onclick="irArriba()">
          <a href=""><img src="{{ SITEURL }}/theme/images/flecha-arriba.png" alt="Flecha Arriba" height="50px">Arriba </a>
        </h5>
      </div>

      {% if DISQUS_SITENAME %}
      <div id="disqus_thread"></div>
        {% if SITEURL %}
        <script>
          var disqus_config = function () {
          this.page.url = "{{ SITEURL }}/{{ article.url }}";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ article.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
        </script>
        {% endif %}
        <script>
        (function() {
              var d = document, s = d.createElement('script');
              s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Habilita JavaScript para ver <a href="https://disqus.com/?ref_noscript">commentarios facilitados por Disqus.</a></noscript>
      {% endif %}
    </article>
  </div>
<!-- end article -->
{% endblock contenido %}

{% block scriptExtra %}
  <script src="{{ SITEURL }}/theme/js/arriba.js"></script>
{% endblock scriptExtra %}

