<nav class="navbar navbar-expand-lg navbar-light alert-info">
  <a class="navbar-brand" href="{{ SITEURL }}/"><img class="animate__animated animate__fadeInDown img-fluid" src="{{ SITEURL }}/images/logo.png" alt="{{ SITENAME }}" height="150px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active m-2">
        <a class="btn btn-info" href="{{ SITEURL }}/" >Incio <span class="sr-only">(current)</span></a>
      </li>
     

      
      {% if DISPLAY_PAGES_ON_MENU %}
        <li class="nav-item dropdown m-1">
          <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Páginas
          </a>
          <div class="dropdown-menu animate__animated animate__fadeInUp" aria-labelledby="navbarDropdownMenuLink">
            {% for p in pages %}
              <a href="{{ SITEURL }}/{{ p.url }}" class="dropdown-item alert-info">{{ p.title }}</a>  
            {% endfor %}
          </div>
        </li>
      {% endif %}

    <li class="nav-item dropdown m-1">
      <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menú
      </a>
      <div class="dropdown-menu animate__animated animate__fadeInUp" aria-labelledby="navbarDropdownMenuLink">
          <a href="{{ SITEURL }}/archives.html" class="dropdown-item alert-info">Archivo Completo</a>
          <a href="{{ SITEURL }}/categories.html" class="dropdown-item alert-info">Categorías</a>
          <a href="{{ SITEURL }}/tags.html" class="dropdown-item alert-info">Etiquetas</a>
      </div>
  </li>
  
    </ul>
        
  </div>
 
</nav>
