<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">

    <!-- Favicon-->
    <link rel="icon" type="image/jpg" href="{{ SITEURL }}/theme/images/logo-icono.png">

    <!-- link a bootstrap, Animatecss y propio-->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/animate.min.css">

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/propio.css">
    
    <title>{% block titulo_pagina %} {% endblock %}</title>
</head>
<body>

    


      {% include 'barra_superior.html' %}


<div class="m-2 p-2">    
    {% block contenido %}

    {% endblock contenido  %}

</div>


<footer>

    <h6 align="center">CopyLeft <script> let fecha = new Date().getFullYear(); document.write(fecha)</script> - {{ AUTHOR }}</h6>
    {% if ATTRIBUTION %} 
    <h6 align="center"><i> <a href="https://gitlab.com/enlacepilar/tema-geliba-para-pelican-sitios-estaticos/" target="_blank">"GELIBA"</a></i> Tema propio <a href="https://getpelican.com/" target="_blank">Pelican</a> </h6>
   
    {% endif %}
</footer>



    <!-- #region ZONA DE SCRIPTS -->
    <!-- scripts a Jquery, bootstrap  -->
    <script src="{{ SITEURL }}/theme/js/jquery-3.5.1.min.js"></script>   
    <script src="{{ SITEURL }}/theme/js/popper.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <!-- #endregion -->

    {% block scriptExtra %}

    {% endblock scriptExtra %}

</body>
</html>