{% extends "base.html" %}

{% block titulo_pagina %}{{ SITENAME }} - Categorías{% endblock %}

{% block contenido %}

<div class="alert-info">
    <h1 class="ml-1">Categorías</h1>
</div>

<div class="articles">
    <ul>
    {% for category, articles in categories%}
        {% if category != "misc" %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> <span class="count">({{ articles|count }})</span></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock contenido  %}