{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}



{% block contenido  %}

  <div class="article animate__animated animate__slideInUp">
    <article>
      {% if page.date %}
        <footer>
            <a name="top"></a>
            <p>
              <time>{{ page.locale_date }}</time>
            </p>
        </footer>
      {% endif %}
        <header>
          <h2 class="text-home wow fadeInUp animated">
            {{ page.title }}
          </h2>
        </header>
      <div class="content">
         {{ page.content|safe }}
      </div>

      <div class="back-to-top alert-primary">
        <h5 align="center" class="p-2" onclick="irArriba()">
          <a href=""><img src="{{ SITEURL }}/theme/images/flecha-arriba.png" alt="Flecha Arriba" height="50px">Arriba </a>
        </h5>
      </div>

      {% if DISQUS_SITENAME %}
      <div id="disqus_thread"></div>
        {% if SITEURL %}
        <script>
          var disqus_config = function () {
          this.page.url = "{{ SITEURL }}/{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ page.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
        </script>
        {% endif %}
        <script>
        (function() {
              var d = document, s = d.createElement('script');
              s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Habilite javascript <a href="https://disqus.com/?ref_noscript"> por Disqus.</a></noscript>
      {% endif %}
    </article>
  </div>
<!-- end article -->
{% endblock contenido  %}



{% block scriptExtra %}
  <script src="{{ SITEURL }}/theme/js/arriba.js"></script>
{% endblock scriptExtra %}
