<div class="text-center p-5 alert-info">
    {% if DEFAULT_PAGINATION %}
    <h3>
        {% if articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><img src="{{ SITEURL }}/theme/images/flecha-izquierda.png" alt="{{ SITENAME }}" width="100px"></a>
        {% endif %}
        <span>{{ articles_page.number }} / {{ articles_paginator.num_pages }}</span>

        {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}"><img src="{{ SITEURL }}/theme/images/flecha-derecha.png" alt="{{ SITENAME }}" width="100px"></a>
        {% endif %}
    </h3>
    {% endif %}
</div>




