{% extends "base.html" %}

{% block titulo_pagina %}{{ SITENAME }} - Tags{% endblock %}

{% block contenido %}

<div class="alert-info">
    <h1 class="ml-1">Etiquetas</h1>
</div>

<div class="articles">
    <ul>
    {% for tag, articles in tags %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> <span class="count">({{ articles|count }})</span></li>
    {% endfor %}
    </ul>
</div>
{% endblock contenido %}